* {
    margin: 0;
    padding: 0;
}

@import './variables/colores';
@import './variables/extend';

@import './secciones/footer.scss';
@import './secciones/header.scss';
@import './secciones/argentina.scss';
@import './secciones/brazil.scss';
@import './secciones/shareyourexperience.scss';
@import './secciones/europe.scss';
@import './secciones/northamerica.scss';
@import './secciones/index.scss';
@import './secciones/sitemap';


.tituloPrincipal {
    display: grid;
}

.imagenDelmedio {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: center;
}

.tituloPrincipal {
    color: $colorLetra;
    max-width: 90vw;
    border: dotted 3px black;
    margin: 30px;
    padding: 30px;
    @extend %estiloTitulo;

}


main {
    margin-bottom: 1px;
    margin-top: 1px;
    background-color: #FBDA61;
    background-image: $colorGradient;
    border: 1px solid black;
}

body {
    border: 1px solid black;
}


img {
    border: 1px solid black;
    border-radius: 5%;
}

#sinBorde {
    border: none;
    border-radius: 0%;
}

.bootstrap {
    width: 450px;
    height: auto;
    margin-left: 1rem;
    padding: 1rem;
}

.imagenDinamica {
    display: grid;
    grid-template-areas:
        "parrafoTercero" "bootstrapIndex"
    ;
    grid-template-columns: 1fr 1fr;
}

.negrita {
    background-color: #ffcfd2;
    font-size: larger;
    font-weight: bold;
    border: 2px solid black;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.containerA {
    display: grid;
    grid-template-areas:
        "seccion1 seccion1 seccion2 seccion4"
        "seccion1 seccion1 seccion2 seccion4"
        "seccion1 seccion1 seccion2 seccion4"
        "seccion3 seccion3 seccion3 seccion3"
        "seccion3 seccion3 seccion3 seccion3"
        "seccion5 seccion5 seccion5 seccion5"
        "footer footer footer footer"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 90vw;;
    margin: 0 auto;
    padding: 0 auto;
}


.footer {
    grid-area: footer;
}

.seccion2 {
    grid-area: seccion2;
}

.seccion1 {
    grid-area: seccion1;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
}

.primerLinea p {
    margin: 1rem;
}

.seccion3 {
    grid-area: seccion3;
}

.seccion4 {
    grid-area: seccion4;
    border: 4px dotted black;
}

.seccion5 {
    margin-bottom: 1rem;
    grid-area: seccion5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
    text-align: center;
    border: 1.5px dotted black;
}

.accordion {
    background-color: #FBDA61 !important;
    background-image: $colorGradient !important;
}

.primerLinea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 25px;
}

main div section img {
    margin: 1rem;
}

.scale {
    color: black;
    animation-duration: 5s;
    animation-name: scale;
    animation-iteration-count: infinite;
    @include color($colorScale);
}

.inicio {
    &__logo {
        margin-top: 1rem;

    }
}


.btn {
    background-color: #fff1e6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.aboutus {
    margin-top: 115px;
}



@keyframes scale {
    50% {
        transform: scale(1.2);
        color: darkslategrey;
    }

    75% {
        transform: scale(1.5);
    }
}

// Ajuste responsive    

@media only screen and (min-width: 360px) and (max-width: 1100px){ 

    /* Index */
    .tituloPrincipal {
        max-width: 90vw;
        justify-items: center;
    }

    .parrafoPrimero {
        max-width: 90vw;
    }

    .imagenDelmedio {
        display: flex;
        flex-direction: column;
        align-items: center; 
        max-width: 90vw;
    }

    .imagenYtexto {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
    }

    .grilla2 {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }

    .imagenDinamica {
        display: flex;
        flex-direction: column;
        max-width: 90vw;
    }

    .parrafoSegundo {
        max-width: 90vw;
    }

    .parrafoTercero {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 90vw;
    }

    .imagenDelmedio img {
        max-width: 90vw;
    }

    header {
        background-color: lightsalmon;
    }

    footer {
        background-color: antiquewhite;
    }

    header section h3 {
        color: black;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
    }

    /* NorthAmerica Argentina Brazil Europe */

    .containerA {
        display: grid;
        grid-template-areas:
            "nav nav nav nav"
            "seccion1 seccion1 seccion1 seccion1"
            "seccion2 seccion2 seccion2 seccion2"
            "seccion3 seccion3 seccion3 seccion3"
            "seccion4 seccion4 seccion4 seccion4"
            "seccion5 seccion5 seccion5 seccion5"
            "footer footer footer footer"
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
    }

    .seccion4 {
        width: fit-content;
        margin-bottom: 1rem;
    }

    .seccionArriba {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 5rem;
        max-width: 90vw;

    }

    .seccionabajo {
        width: 90vw;
        margin-bottom: 5rem;
        

        .formularioA {
            width: 80vw;
            font-size: small;
            padding: 10px;
            margin: 0 auto;
        }
    }

    .primerLinea {
        max-width: 90vw;
    } 
    .bootstrapIndex{
        width: fit-content;
        align-self: center;
        margin-left: 10px;
    }
    .videoTablet{
        width: 80vw;
    }
    .bootstrap{
        align-self: center;
        width: fit-content;
    }
    .siteMap{
        display: flex;
        flex-wrap: wrap;   
    }
}


    


