
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Moonrocks&display=swap');


$colorLetra: coral;

$colorGradient: linear-gradient(45deg, #FBDA61 0%, #d084d1 100%);

$colorScale: mistyrose; 

$letraScale: 'Rubik Moonrocks', cursive; 


