.accordion{
    --bs-accordion-bg: $colorGradient;
}

.accordion-button:not(.collapsed){  
    background-color: bisque;
    color: purple;
  
}  
.accordion-button:not(.collapsed){
    filter: blur(0.5px);
}

.argentina{
    margin-top: 116px;
}